/*Animated Background*/
body {
  height: 100vh;
   background: linear-gradient(90deg,#e52e71,#ff8a00);

}

.slider-thumb::before {
  position: absolute;
  content: "";
  left: 30%;
  top: 20%;
  width: 450px;
  height: 450px;
  background: #17141d;
  border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
  will-change: border-radius, transform, opacity;
  animation: sliderShape 5s linear infinite;
  display: block;
  z-index: -1;
  -webkit-animation: sliderShape 5s linear infinite;
  overflow: hidden;
}
@keyframes sliderShape{
  0%,100%{
  border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
    transform: translate3d(0,0,0) rotateZ(0.01deg);
  }
  34%{
      border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
    transform:  translate3d(0,5px,0) rotateZ(0.01deg);
  }
  50%{
    transform: translate3d(0,0,0) rotateZ(0.01deg);
  }
  67%{
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60% ;
    transform: translate3d(0,-3px,0) rotateZ(0.01deg);
  }
}
/* end */

.navbar {
  color: #fff;
}
.navbar div  {
  color: #fff;
}

li a {
  color: #fff;
}

#navbarToggleExternalContent {
  z-index: -1;
}

header {
  padding: 15rem 0 15rem 0;
  margin-bottom: 16rem;
}

h1 {
  font-size: 4em;
}
h3 {
  color: #ccc !important;
}

div.col-12  {
  background-color: #1c1c1c;
}

#skills i {
  font-size: 4em !important;
}

.text-box {
  background-color: #262626;
}

.project-box {
  text-decoration: none !important;
}

#footer {
  background-color: #1c1c1c;
}

input {
  background-color: #010101 !important;
  width: 49% !important;
}

input:focus {
  outline: none !important;
  box-shadow: none !important;
}

::placeholder {
  color: #fff !important;
  opacity: .3 !important;
}

textarea {
  background-color: #010101 !important;
}

textarea:focus {
  outline: none !important;
  box-shadow: none !important;
}

.border-orange {
  border-color:#ef5e33 !important;
}

.navbar-toggler {
  outline: none !important;
  box-shadow: none !important;
  
}